{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .description{
    	background-color: black;
    	color: white;
    	text-align: center;
    	padding: 5%;
    }
</style>

        <!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <nav class="navbar bg-light">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home"></i>Home</a>
                                </li>
                                <!-- Categories-->
                                <li class="nav-item">
                                    <a class="nav-link" onclick="myFunction()"><i class="fa fa-plus"></i>Categories</a>
                                </li>
                                    <div id="myDIV" style="display:none" >
                                        <li class="nav-item" style="padding-left: 20%;">
                                            <a class="nav-link" href="/"></i>All</a>
                                        </li>
                                        {% for category in category %}
                                        <li class="nav-item" style="padding-left: 20%;">
                                            <a class="nav-link" href="{% url 'index-category' category.slug %}"></i>{{category.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </div>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
                                </li> -->

                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <div class="header-slider normal-slider">
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-1.jpg' %}" alt="Slider Image" />
                                <div class="header-slider-caption">
                                    <p>Some text goes here that describes the image</p>
                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-2.jpg' %}" alt="Slider Image" />
                                <div class="header-slider-caption">
                                    <p>Some text goes here that describes the image</p>
                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                            <div class="header-slider-item">
                                <img src="{% static 'img/slider-3.jpg' %}" alt="Slider Image" />
                                <div class="header-slider-caption">
                                    <p>Some text goes here that describes the image</p>
                                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="header-img">
                            <div class="img-item">
                                <img src="{% static 'img/category-1.jpg' %}" />
                                <a class="img-text" href="">
                                    <p>Some text goes here that describes the image</p>
                                </a>
                            </div>
                            <div class="img-item">
                                <img src="{% static 'img/category-2.jpg' %}" />
                                <a class="img-text" href="">
                                    <p>Some text goes here that describes the image</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Slider End -->      

        <!-- Featured Product Start -->
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Products</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">

                    <!--ITEM LIST-->
                    {% for product in products %}
                    <div class="col-lg-12">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="{% url 'product-details' product.category.slug product.slug product.id %}">{{product.name}}</a>
                            </div>
                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{{product.image.url}}" alt="Product Image" style="height:300px;object-fit:contain;margin-left:auto;margin-right: auto;">
                                </a>
                                <div class="product-action">
                                    <a href="{% url 'add-cart' product.id %}"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3><span>₹ </span>{{product.price}}</h3>
<!--                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>-->
                                <a class="btn" href="{% url 'add-cart' product.id %}"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            <div class="description">
                                <a>{{product.category}}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--ITEM LIST END-->

                </div>
            </div>
        </div>
        <!-- Featured Product End -->


        
        <!-- Feature Start-->
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fab fa-cc-mastercard"></i>
                            <h2>Secure Payment</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2>Worldwide Delivery</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-sync-alt"></i>
                            <h2>90 Days Return</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2>24/7 Support</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur elit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End-->      
        

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock %}