{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active">Product Detail</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail-top">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">
                                        <img src="{{product.image.url}}" alt="Product Image" style=" width: 200px; height: 300px;object-fit: contain;">
                                    </div>

                                </div>
                                <div class="col-md-7">
                                    <div class="product-content">
                                        <div class="title"><h1>{{product.name}}</h1></div>
                                        <div class="price">
                                            <h4>Price:</h4>
                                            <p>₹{{product.price}}</p>
                                        </div>


                                        <div class="p-color">
                                            <h4>Description:</h4>
                                            <div class="btn-group btn-group-sm">
                                                {{product.description}}
                                            </div>
                                        </div>
                                        <div class="action">
                                            <a class="btn" href="{% url 'add-cart' product.id %}"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
<!--                                            <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Buy Now</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        

                    </div>
                </div>
            </div>
        </div>
        <!-- Product Detail End -->

        <!--Related Product -->
<!--       <div class="related-product product">-->
<!--            <div class="container-fluid">-->
<!--                <div class="section-header">-->
<!--                    <h1>Related Product</h1>-->
<!--                </div>-->
<!--                <div class="row align-items-center product-slider product-slider-4">-->

<!--                    &lt;!&ndash;ITEM LIST&ndash;&gt;-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="product-item">-->
<!--                            <div class="product-title">-->
<!--                                <a href="#">Product Name</a>-->
<!--                                <div class="ratting">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-image">-->
<!--                                <a href="product-detail.html">-->
<!--                                    <img src="{% static 'img/product-1.jpg' %}" alt="Product Image">-->
<!--                                </a>-->
<!--                                <div class="product-action">-->
<!--                                    <a href="#"><i class="fa fa-cart-plus"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-heart"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-search"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-price">-->
<!--                                <h3><span>$</span>99</h3>-->
<!--                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="product-item">-->
<!--                            <div class="product-title">-->
<!--                                <a href="#">Product Name</a>-->
<!--                                <div class="ratting">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-image">-->
<!--                                <a href="product-detail.html">-->
<!--                                    <img src="{% static 'img/product-1.jpg' %}" alt="Product Image">-->
<!--                                </a>-->
<!--                                <div class="product-action">-->
<!--                                    <a href="#"><i class="fa fa-cart-plus"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-heart"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-search"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-price">-->
<!--                                <h3><span>$</span>99</h3>-->
<!--                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="product-item">-->
<!--                            <div class="product-title">-->
<!--                                <a href="#">Product Name</a>-->
<!--                                <div class="ratting">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-image">-->
<!--                                <a href="product-detail.html">-->
<!--                                    <img src="{% static 'img/product-1.jpg' %}" alt="Product Image">-->
<!--                                </a>-->
<!--                                <div class="product-action">-->
<!--                                    <a href="#"><i class="fa fa-cart-plus"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-heart"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-search"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-price">-->
<!--                                <h3><span>$</span>99</h3>-->
<!--                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="product-item">-->
<!--                            <div class="product-title">-->
<!--                                <a href="#">Product Name</a>-->
<!--                                <div class="ratting">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-image">-->
<!--                                <a href="product-detail.html">-->
<!--                                    <img src="{% static 'img/product-1.jpg' %}" alt="Product Image">-->
<!--                                </a>-->
<!--                                <div class="product-action">-->
<!--                                    <a href="#"><i class="fa fa-cart-plus"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-heart"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-search"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-price">-->
<!--                                <h3><span>$</span>99</h3>-->
<!--                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="product-item">-->
<!--                            <div class="product-title">-->
<!--                                <a href="#">Product Name</a>-->
<!--                                <div class="ratting">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-image">-->
<!--                                <a href="product-detail.html">-->
<!--                                    <img src="{% static 'img/product-1.jpg' %}" alt="Product Image">-->
<!--                                </a>-->
<!--                                <div class="product-action">-->
<!--                                    <a href="#"><i class="fa fa-cart-plus"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-heart"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-search"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-price">-->
<!--                                <h3><span>$</span>99</h3>-->
<!--                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="product-item">-->
<!--                            <div class="product-title">-->
<!--                                <a href="#">Product Name</a>-->
<!--                                <div class="ratting">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-image">-->
<!--                                <a href="product-detail.html">-->
<!--                                    <img src="{% static 'img/product-1.jpg' %}" alt="Product Image">-->
<!--                                </a>-->
<!--                                <div class="product-action">-->
<!--                                    <a href="#"><i class="fa fa-cart-plus"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-heart"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-search"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="product-price">-->
<!--                                <h3><span>$</span>99</h3>-->
<!--                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    &lt;!&ndash;ITEM LIST END&ndash;&gt;-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!--Related Product End-->
        

        


{% endblock %}
